{% extends 'base/base.html' %}

{% block title %}
Consultar Registros
{% endblock %}

{% block header %}
<h3>Lista de Registros</h3>
{% endblock %}

{% block content %}

    <table class="table table-bordered">
        <thead>
        	<tr>
                <th>Código</th>
				<th>Unidad</th>
				<th>Fecha</th>
				<th>Autor del Registro</th>
                <th>Selección</th>
			</tr>
		</thead>
		<tbody>
        {% if registros %}
            {% for registro in registros %}
                <tr>
                	<td>{{ registro.obtener_cod }}</td>
                	<td>{{ registro.unidad }}</td>
                	<td>{{ registro.fecha }}</td>
                    <td>{{ registro.responsable }}</td>
                    <td>
                        <a href="{% url 'verDetalleRegistro' registro.id %}" class="btn btn-sm btn-primary">Ver Detalle</a>
                    </td>
            	</tr>
            {% endfor %}
        {% else %}
            <h1>No hay registros</h1>
        {% endif %}
    	</tbody>
    </table>

    <center>
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-sm btn-primary">Anterior</a>
            {% endif %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-sm btn-primary">Siguiente</a>
            {% endif %}
        </div>
    </center>
{% endblock %}