{% extends 'base/base.html' %}

{% block title %}
Consultar Unidades
{% endblock %}

{% block header %}
<h3>Lista de Unidades de Transporte</h3>
{% endblock %}

{% block content %}
<a href="{% url 'crearUnidad' %}" class="btn btn-sm btn-primary">Crear Unidad</a>

<table class="table table-bordered">
    <thead>
    	<tr>
            <th>ID</th>
			<th>Nombre Unidad</th>
			<th>Motorista</th>
            <th>Selección</th>
		</tr>
	</thead>
	<tbody>
    {% if unidades %}
        {% for unidades in unidades %}
            <tr>
            	<td>{{ unidades.id }}</td>
            	<td>{{ unidades.nombre_mote }}</td>
                <td>{{ unidades.motorista }}</td>
                <td>
                    <a href="{% url 'verDetalleUnidad' unidades.id %}" class="btn btn-sm btn-primary">Ver Detalle</a>
                    <a href="{% url 'eliminarUnidad' unidades.id %}" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
        	</tr>
        {% endfor %}
    {% else %}
        <h4>No hay Unidades</h4>
    {% endif %}
	</tbody>
</table>
{% endblock %}