{% load staticfiles %}

<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="{% static 'AppTrans/style.css' %}">
</head>
<body background="{% static 'AppTrans/imagen/otro.jpg' %}">
	<div class="container">
		{% block navbar %}
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
  				<a class="navbar-brand" href="{% url 'home' %}">Home</a>
           		<a class="navbar-brand" href="{% url 'registrarUsuario' %}">Registrarse</a>
           		<a class="navbar-brand" href="iniciarSesion">Iniciar Sesión</a>
            	<a class="navbar-brand" href="cerrarSesion">Cerrar Sesión</a>
			</nav>
		{% endblock %}
	</div>
	<br><br>
    <h1 class="h1">Sistema de Control de Unidades</h1>   
    <br> 
    	
    <div class="form-title-row">
    	<nav>                      
			<a href="crearRegistro" >Nuevo Registro</a>
			<br><br><br><br><br>
			<a href="consultarRegistros">Registros de Llegada</a>
			<a href="consultarPuntos">Puntos de Control</a>
			<a href="consultarMotoristas">Motoristas</a>
			<a href="consultarResponsables">Responsables de Punto</a>
			<a href="consultarUnidades">Unidades de Transporte</a>
			<br><br><br><br><br>
  		</nav>
   </div> 
<h1 class="h1">Herramientas de Productividad</h1>
<h1 class="h1">.........................................................</h1>
</body>

