@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Mystery+Quest');

*{
	padding: 0;
	margin: 0;
}
.h1{
   color:#c00;
   font-size: 200%;

 
}

html{
	background-color:#f3f3f3;
	font: normal 16px sans-serif;
	color: rgba(14,15,51,1.00);
}
h1 {
	font-family: "Mystery Quest", bold;
	text-align: center;
	font-size: 200%
	margin:15px auto;
	color:#c00;
	}
/*------------Barra de navegación----------------------*/
nav{
	max-width: 800px;
	margin: 10px auto;
	text-align: center;
	font-size: 50px;
	color: #c0c0c0;
	font-family: 'Mystery Quest', cursive;
}
nav a{
	display: inline-block;
	margin: 0px 20px;
	text-decoration: none;
	color:#fff;
	font-weight: bold;
	font-size: 20px;
}
nav a.active{
	color: #6CAEE0;
}
/*---------Estilo para el formulario-------*/
form{
	box-sizing: border-box;
	width: 100%;
	max-width: 600px;
	margin: 20px auto;
	padding: 20px;
	background-color:  #fff;
	box-shadow:0 0 20px 1px rgba(0,0,0,0.3);
	font: normal 14px sans-serif;
	text-align: center;
	border-radius:20px;
	font-family: 'Montserrat', sans-serif;
}
/*--------------Filas en el formulario-------------------------------------*/
form .form-row{
	text-align: left;
	max-width: 315px;
	margin: 25px auto 0;
	border-radius:5px;
}
/*-------------Estilo para la fila del título en el Formulario------------------*/
form .form-title-row{
	margin: 0 auto 40px;
	background-color:  #C00;
	color:#C00;
}


form h1{
	display: inline-block;
	box-sizing: border-box;
	color: #4C565E;
	font-size: 24px;
	padding: 0 0 12px 0;
	margin: 0;
	border-bottom: 2px solid #6CAEE0;
}
/*--------------Opción seleccionada-------------------------------------*/
form .form-row > label span{
	display: block;
	box-sizing: border-box;
	color:  #5f5f5f;
	padding: 0 0 5px;
	font-weight: bold;
}
/*--------------Caja de ingreso de datos-------------------------------------*/

form input{
	color:  #5f5f5f;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 10px 15px;
	border: 1px solid #dbdbdb;
}
form input[type=text],
form input[type=email],
form input[type=password],
form textarea{
	max-width: 500px;
	width: 100%;
}
form input[type=number]{
	max-width: 100px;
}
form input[type=radio],
form input[type=checkbox]{
	box-shadow: none; 
	width: auto;
}
.form-row:hover{
	background-color: #CFCBCB;
}
input:hover{
	background-color:#1396B1;
}
a:hover{
   background-color: #1396B1
}
form textarea{
	color:  #5f5f5f;
	box-sizing: border-box;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 10px 15px;
	border: 1px solid #dbdbdb;
	resize: none;
	min-height: 80px;
}
form select{
	background-color: #ffffff;
	color:  #5f5f5f;
	box-sizing: border-box;
	width: 240px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.28);
	padding: 10px 15px;
	border: 1px solid #dbdbdb;
}
form .form-radio-buttons > div{
	margin-bottom: 10px;
}
form .form-radio-buttons label span{
	margin-left: 8px;
	color:  #5f5f5f;
}
form .form-radio-buttons input{
	width: auto;
}
form button{
	background: linear-gradient(25deg, rgba(0,0,200,0.75), rgba(0,0,0,0.75));
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: "Mystery Quest", bold;
	box-shadow: 4px 4px 4px 4px 10px rgba(0, 0, 0, 0.8);
}
p.explanation{
	padding: 15px 15px;
	line-height: 2;
	background-color:rgba(64,128,193,0.5);
	font-size: 13px;
	text-align: center;
	font-family: 'Mystery Quest', cursive;
	margin-top: 40px;
	color: #FFF;
	border-radius: 20px;
	border-bottom: 5px solid #ECECD0;
	border-right: 5px solid #ECECD0;
}

